<div id="confirm_modal" class="modal_container hidden">
	<div id="modal_con" class="modal_con2 center">
	    <div class="modal_header">
	    	<h2>입고 신청서</h2>
	    	<button type="button" id="closeModalBtn">
	    		<img src="images/modalClose_btn.svg" alt="모달 닫기 버튼">
	    	</button>
	    </div>
    <div class="modal_body">
    <div class="table_wrap">
	    <table class="table2" style="width: 100%;">
	    	<tr>
	    		<th>
	    			<label>결재 유형</label>
	    		</th>
	    		<td class="select_box">
				    <select>
				    	<option value="0" selected>결재 유형을 선택하세요.</option>
				    	<option value="1">결재 승인</option>
				    	<option value="2">결재 반려</option>
				    </select>
			    </td>
	    	</tr>
		    <tr>
			    <th>
			    	<label>결재 사유 선택</label>
			    </th>
			    <td class="select_box">
				    <select>
				    	<option value="0" selected>결재 사유를 선택하세요.</option>
				    	<option value="1">정상 검토 후 승인</option>
				    	<option value="2">납기일 준수 목적</option>
				    	<option value="3">재고 보충 필요</option>
				    	<option value="4">고객사 요청</option>
				    	<option value="5">긴급 발주 필요</option>
				    	<option value="6">기타(직접 입력)</option>
				    	
				    	<option value="1">신청 정보/자료 미비</option>
				    	<option value="2">단가/수량 입력 오류</option>
				    	<option value="3">예산 초과</option>
				    	<option value="4">거래처 정보 오류</option>
				    	<option value="5">발주 사유 불명확</option>
				    	<option value="6">결재선 미확인</option>
				    	<option value="7">기타(직접 입력)</option>
				    	
				    </select>
			    </td>
		    </tr>
		    <tr>
			    <th>
			    <label>결재 사유 상세 입력</label>
			    </th>
			    <td>
			    	<textarea placeholder="상세 사유를 입력하세요."></textarea>
			    </td>
		    </tr>
	    </table>
    </div>
    </div>
	    <div class="under_btn_wrap flex_center">
	    	<button type="button" class="blue_btn">신청</button>
	    	<button type="button" id="cancelModalBtn" class="blue_border_btn">취소</button>
	    </div>
    </div>
</div>