<div id="aside">
	<ul>
		<li class="menu01">
	    	<a href="#none">발주 관리</a>
	        <ul class="menu02">
	        	<li>
	            	<a href="#none">자재 목록</a>
				</li>
	            <li>
	        		<a href="#none">자재 등록</a>
	            </li>
			</ul>
		</li>
	
	    <li class="menu01">
	        <a href="#none">결재 관리</a>
	        <ul class="menu02">
	        	<li>
	            	<a href="#none">발주 목록</a>
	            </li>
	    	</ul>
	    </li>
	    
	    <li class="menu01">
	        <a href="#none">입고 관리</a>
	        <ul class="menu02">
	        	<li>
	            	<a href="#none">입고 목록</a>
	            </li>
	    	</ul>
	    </li>
	                
	</ul>
</div>