<div id="header">
	<div class="h_wrap">
		<div class="h_inner center">
			<!-- header 로고 영역 -->
			<a href="#none">
				<h1 class="tit_h1">
 					<span class="blind">ERP SPARK</span>
				</h1>
			</a>
            <!-- header 로고 영역 -->

            <!-- header gnb 영역 -->
            <!-- <ul class="gnb">
                <li>
                	<a href="#none">발주 담당자</a>
                </li>
                <li>
                    <a href="#none">결재 담당자</a>
                </li>
                <li>
                    <a href="#none">입고 담당자</a>
                </li>
            </ul> -->
			<!-- header gnb 영역 -->

            <!-- header snb 영역 -->
            <div class="snb">
            	<a th:text="${loginEname}"></a>
            	<a th:href="@{/login/logout}">로그아웃</a>
            </div>
            <!-- header snb 영역 -->
		</div>
	</div>
</div>