<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ERP 프로젝트</title>
	<link rel="stylesheet" href="/css/total.css" />
	<link rel="stylesheet" href="/css/jquery-ui.css" />	
	<script src="/js/jquery-3.7.1.min.js"></script>
  	<script src="/js/main.js"></script>
  	<script src="/js/jquery-ui.js"></script>
</head>
<script th:inline="javascript">
	$(function(){
	    $("#datepicker").datepicker({
	    	dateFormat: "yy-mm-dd"
		});
	});

	window.onload = function() {
		if(performance.navigation.type === 1) { // 1은 새로고침(F5)
	    	window.location.href = '/confirm/history'; // 쿼리 파라미터 없이 새로 이동
	  	}
	};
</script>

<body>

    <!-- header 헤더 시작 -->
    <header th:insert="~{fragments/header}"></header>
    <!-- header 헤더 끝 -->

	<!-- section 컨텐츠 영역 시작 -->
    <section id="section">
        <!-- 죄측 메뉴바 시작 -->
		<aside th:insert="~{fragments/aside}"></aside>
        <!-- 죄측 메뉴바 끝 -->

        <!-- 컨텐츠 영역 시작 -->
        <div id="contents">
            <div class="con_title">
                <h2>발주 결재 목록</h2>
            </div>
            <div class="con_top_wrap">
                <form th:action="@{/confirm/history}"
                	  method="get"
                	  id="searchForm"
                	  class="search_wrap"
                	  autocomplete="off">
                	<input type="hidden" name="ogubun" th:value="${ogubun}" />
                	<input type="hidden" name="indexpage" value="1"/>
                	
                	<input type="text"
                		   name="ordate"
                		   id="datepicker"
                		   th:value="${ordate}"
                		   placeholder="날짜를 선택하세요.">
                		   
                    <div class="select_box">
                        <select name="ostate">
    						<!-- 전체 선택용 빈값 옵션 -->
						    <option value=""
						    		th:selected="${ostate == null or ostate == ''}">발주 상태 (전체)</option>
						    <!-- DB에서 가져온 상태값 순회 -->
						    <option th:each="state : ${statusList}"
          							th:value="${state}"
          							th:text="${state}"
          							th:selected="${state == ostate}">
							</option>
  						</select>
                    </div>
                    <input type="search"
						   name="supnm" 
      					   th:value="${supnm}"
      				       placeholder="공급처를 검색하세요.">
      				       
                    <input type="search"
                    	   name="mgrnm" 
      					   th:value="${mgrnm}" 
                    	   placeholder="관리자를 검색하세요.">
                    	   
                    <input type="search"
                    	   name="word" 
      					   th:value="${word}" 
                    	   placeholder="검색어를 입력하세요.">
                    <button type="submit" class="blue_btn">검색</button>
                </form>
            </div>
            <div class="table_wrap">
                <table class="table1">
                    <colgroup>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                        <col width=""/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>발주코드</th>
                            <th>상태</th>
                            <th>신청일자</th>
                            <th>공급처명</th>
                            <th>발주 담당자</th>
                            <th>총 발주량</th>
                            <th>특이사항</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list, myState : ${list}">  
                        	<td th:text="${startPageRownum - myState.index}"></td>
                        	<td th:text="${list.ogubun}+${list.ono}"></td>     
                        	<td>
                        		<a th:href="@{/confirm/history/{ono}(
                        					 ono=${list.ono},
											 ogubun=${ogubun},
											 indexpage=${currentPage},
											 ordate=${ordate},
											 ostate=${ostate},
											 supnm=${supnm},
											 mgrnm=${mgrnm},
											 word=${word},
											 view='history')}"
                        		   th:text="${list.ostate}"
								   th:class="'state ' +
	                        		   (${list.ostate} == '결재 대기' ? 'statusWaiting' :
						               (${list.ostate} == '결재 승인' ? 'statusApproved' :
						               (${list.ostate} == '결재 반려' ? 'statusRejected' : '')))">

                        		</a>
                        	</td>                    
                        	<td th:text="${#dates.format(list.ordate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${supMap [list.supcd]}"></td>
                            <td th:text="${list.omgr}"></td>
                            <td th:text="|${itemCountMap[list.ono]}건|"></td>
                            <td th:text="${list.onote}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- 페이지 시작 -->
			<div class="div_page flex_center">

			<!-- 맨 처음 버튼 -->
			<a th:classappend="${currentPage == 1} ? ' disabled' : ''"
  			   th:attr="href=${currentPage > 1} 
    					? @{/confirm/history(
  						indexpage=1,
  						ordate=${ordate},
  						ostate=${ostate},
  						supnm=${supnm},
  						mgrnm=${mgrnm},
  						word=${word}
					)} 
    				: 'javascript:void(0)'">
  				<img src="/images/page_first.svg" alt="처음 버튼"/>
			</a>

  			<!-- 이전 버튼 -->
			<a th:classappend="${currentPage == 1} ? ' disabled' : ''"
			   th:attr="href=${currentPage > 1} 
			    		? @{/confirm/history(
			         	indexpage=${currentPage-1},
			         	ordate=${ordate},
			         	ostate=${ostate},
			         	supnm=${supnm},
			         	mgrnm=${mgrnm},
			         	word=${word}
			       	)} 
			    	: 'javascript:void(0)'">
				<img src="/images/page_prev.svg" alt="이전 버튼"/>
			</a>
			<!-- 페이지 번호 -->
			<div class="div_page flex_center">
				<span th:each="n : ${#numbers.sequence(1, ptotalPage == 0 ? 1 : ptotalPage)}">
			    	<a th:href="@{/confirm/history(
			        			indexpage=${n},
			                   	ordate=${ordate},
			                   	ostate=${ostate},
						        supnm=${supnm},
						        mgrnm=${mgrnm},
						        word=${word}
							)}"
					    th:class="${n == currentPage} ? 'page_num active' : 'page_num'">
			      		<p class="flex_center" th:text="${n}"></p>
			    	</a>
			  </span>
			</div>

			<!-- 다음 버튼 -->
			<a th:classappend="${currentPage < ptotalPage} ? '' : ' disabled'"
  			   th:href="${currentPage < ptotalPage} 
						? @{/confirm/history(
                   		indexpage=${currentPage + 1},
                   		ordate=${ordate},
                   		ostate=${ostate},
                   		supnm=${supnm},
                   		mgrnm=${mgrnm},
                   		word=${word}
                 	)} 
             		: 'javascript:void(0)'">
				<img src="/images/page_next.svg" alt="다음 버튼"/>
			</a>
			
			<!-- 맨 뒤 버튼 -->
			<a th:classappend="${currentPage < ptotalPage} ? '' : ' disabled'"
 			   th:href="${currentPage < ptotalPage} 
             			? @{/confirm/history(
                   		indexpage=${ptotalPage},
                   		ordate=${ordate},
                   		ostate=${ostate},
                   		supnm=${supnm},
                   		mgrnm=${mgrnm},
                   		word=${word}
                 	)} 
             		: 'javascript:void(0)'">
				<img src="/images/page_last.svg" alt="맨끝 버튼"/>
			</a>
		</div>
		<!-- 페이지 끝 -->

        </div>
        <!-- 컨텐츠 영역 끝 -->
    </section>
    <!-- section 컨텐츠 영역 끝 -->
    
    
	<!-- modal 시작 -->
	<div th:replace="fragments/confirmModal"></div>
	<!-- modal 끝 -->



</body>
</html>